[data-md-color-scheme="default"] .md-typeset h1 {
  color: #164273;
}
[data-md-color-scheme="default"] .md-typeset h2 {
  color: #164273;
}
[data-md-color-scheme="default"] .md-typeset h3 {
  color: #164273;
}
[data-md-color-scheme="default"] .md-typeset h4 {
  color: #164273;
}
